# § Chapter3 Built-in Data Structures, Functions, and Files

## §3.1 Data Structures and Sequences
-	Tuple
-	List
-	Built-in Sequence Functions
-	Dict
-	Set
-	List, Set, and Dict Comprehensions

## §3.2 Functions
-	Namespaces, Scope, and Local Functions
-	Returning Multiple Values
-	Functions Are Objects
-	Anonymous (Lambda) Functions
-	Generators
-	Errors and Exception Handling

## §3.3 Files and the Operating System
-	Bytes and Unicode with Files

--------------------------------------------------------------------

## §3.1 Data Structures and Sequences

-	Tuple
-	List
-	Built-in Sequence Functions
-	Dict
-	Set
-	List, Set, and Dict Comprehensions

### § 3.1.1 Tuple (元組)

In [7]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [8]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [9]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [10]:
tup[0]

's'

In [11]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup
nested_tup[0]
nested_tup[1]

(7, 8)

In [12]:
tup = tuple(['foo', [1, 2], True]) # error : once the tuple is created it’s not possible to modify 
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [13]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [14]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [15]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [16]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [17]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

swap, 與下方欄位的程式碼等價
```python
tmp = a
a = b
b = tmp
```

In [20]:
a, b = 1, 2
print(a, b)
b, a = a, b
print(a, b)

1 2
2 1

In [21]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [22]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b, rest

(1, 2, [3, 4, 5])

In [25]:
a, b, *_ = values
a

1

#### Tuple methods

In [26]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### § 3.1.2 List (串列)

In [27]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [28]:
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [29]:
gen = range(10)
gen

range(0, 10)

In [30]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [31]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [32]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [33]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [34]:
b_list.append("foo")
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [35]:
b_list.remove("foo")
b_list

['red', 'baz', 'dwarf', 'foo']

In [36]:
"dwarf" in b_list

True

In [37]:
"dwarf" not in b_list

False

#### Concatenating (串接) and combining lists

In [38]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [39]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sorting

In [40]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [41]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Slicing

In [42]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [43]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [44]:
seq[:5]

[7, 2, 3, 6, 3]

In [45]:
seq[3:]

[6, 3, 6, 0, 1]

In [46]:
seq[-4:]

[3, 6, 0, 1]

In [47]:
seq[-6:-2]

[3, 6, 3, 6]

In [48]:
seq[::2]

[7, 3, 3, 0]

In [49]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

### § 3.1.3 dict 字典

In [50]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [51]:
d1[7] = "an integer"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [52]:
d1["b"]

[1, 2, 3, 4]

In [53]:
"b" in d1

True

In [54]:
d1[5] = "some value"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [55]:
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [56]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [57]:
ret = d1.pop("dummy")
ret, d1

('another value', {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'})

In [58]:
list(d1.keys())

['a', 'b', 7]

In [59]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [60]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [61]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

In [62]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [63]:
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

In [64]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

#! blockstart
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
#! blockend

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [65]:
by_letter = {}
#! blockstart
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
#! blockend
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [71]:
from collections import defaultdict
by_letter = defaultdict(list)  # generating the default value for each slot in the dictionary
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

#### Valid dict key types

In [75]:
# You can check whether an object is hashable (can be used as a key in a dictionary) with the hash function
hash("string")

7417514745826480519

In [76]:
hash((1, 2, (2, 3)))

1097636502276347782

In [77]:
hash((1, 2, [2, 3])) # error : fails because lists are mutable

TypeError: unhashable type: 'list'

In [78]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### § 3.1.4 set 集合，不會有重複的元素

In [79]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [81]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [82]:
a.union(b) # All of the unique elements in a and b

{1, 2, 3, 4, 5, 6, 7, 8}

In [83]:
a | b # All of the unique elements in a and b

{1, 2, 3, 4, 5, 6, 7, 8}

In [85]:
a.intersection(b) # All of the elements in both a and b

{3, 4, 5}

In [84]:
a & b # All of the elements in both a and b

{3, 4, 5}

In [86]:
c = a.copy()
c |= b   # Set the contents of a to be the union of the elements in a and b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [87]:
d = a.copy()
d &= b  # Set the contents of a to be the intersection of the elements in a and b
d

{3, 4, 5}

In [88]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [89]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [90]:
a_set.issuperset({1, 2, 3})

True

In [91]:
{1, 2, 3} == {3, 2, 1}

True

#### sorted

In [93]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [94]:
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [95]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [96]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [97]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

#### reversed

In [98]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### § 3.1.5 List, Set, and Dict Comprehensions

In [99]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [100]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [101]:
map?

In [102]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [103]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions 列表推導

In [104]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [105]:
names_of_interest = []
#! blockstart
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
#! blockend
names_of_interest

['Maria', 'Natalia']

In [106]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [107]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [111]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## §3.2 Functions
-	Namespaces, Scope, and Local Functions
-	Returning Multiple Values
-	Functions Are Objects
-	Anonymous (Lambda) Functions
-	Generators
-	Errors and Exception Handling

### 新內容 (開始)

In [1]:
def my_function(x, y):
    return x + y

In [2]:
my_function(1, 2)
result = my_function(1, 2)
result

3

In [3]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

### 新內容 (結束)

In [4]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [5]:
my_function2(5, 6, z=0.7)

0.06363636363636363

In [6]:
my_function2(3.14, 7, 3.5)

35.49

In [7]:
my_function2(10, 20)

45.0

### § 3.2.1 Namespaces, Scope, and Local Functions

In [8]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [9]:
func()
a

[0, 1, 2, 3, 4]

In [10]:
func()
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [11]:
a = None
#! blockstart
def bind_a_variable():
    global a
    a = []
bind_a_variable()
#! blockend
print(a)

[]

### § 3.2.2 Functions Are Objects

In [12]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [14]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [15]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [16]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [17]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [18]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### § 3.2.3 Anonymous (Lambda) Functions 匿名函數

In [19]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [20]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [21]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [22]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### § 3.2.4 Generators

In [23]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [24]:
dict_iterator = iter(some_dict)
dict_iterator

In [25]:
list(dict_iterator)

['a', 'b', 'c']

In [26]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [27]:
gen = squares()
gen

In [28]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### Generator expresssions

In [30]:
gen = (x ** 2 for x in range(100))
gen

In [31]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### itertools module

In [32]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### § 3.2.5 Errors and Exception Handling

In [33]:
# error example
float("1.2345")
float("something")

ValueError: could not convert string to float: 'something'

In [34]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [35]:
attempt_float("1.2345")
attempt_float("something")

'something'

In [40]:
# error example
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [41]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [42]:
# error example
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [43]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [44]:
attempt_float((1, 2))

(1, 2)

## §3.3 Files and the Operating System
-	Bytes and Unicode with Files

In [45]:
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")

In [46]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [47]:
f.close()

In [48]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [49]:
f1 = open(path)
f1.read(10)

'Sue簽a el r'

In [50]:
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [51]:
f1.tell()

11

In [52]:
f2.tell()

10

In [53]:
import sys
sys.getdefaultencoding()

'utf-8'

In [54]:
f1.seek(3)

3

In [55]:
f1.read(1)

'簽'

In [56]:
f1.tell()

5

In [57]:
f1.close()
f2.close()

In [58]:
with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

['Sue簽a el rico en su riqueza,\n',
 'que m獺s cuidados le ofrece;\n',
 'sue簽a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sue簽a el que a medrar empieza,\n',
 'sue簽a el que afana y pretende,\n',
 'sue簽a el que agravia y ofende,\n',
 'y en el mundo, en conclusi籀n,\n',
 'todos sue簽an lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [59]:
import os
os.remove("tmp.txt")

### § 3.3.1 Bytes and Unicode with Files

In [60]:
with open(path) as f:
    chars = f.read(10)

chars, len(chars)

('Sue簽a el r', 10)

In [61]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

b'Sue\xc3\xb1a el '

In [65]:
data.decode("utf-8")

'Sueña el '

In [70]:
# 破壞原始資料格式，導致錯誤
data[:4].decode("utf-8")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [78]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="utf-8") as sink:
        sink.write(source.read())

with open(sink_path, encoding="utf-8") as f:
    print(f.read(10))

Sue簽a el r

In [79]:
os.remove(sink_path)

In [80]:
f = open(path, encoding='utf-8')

In [81]:
f.read(5)

'Sueña'

In [82]:
# If the file position falls in the middle of the bytes defining a Unicode character, 
# then subsequent reads will result in an error
f.seek(4)

4

In [83]:
f.read(1)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

In [84]:
f.close()